@font-face {
	font-family: "CorpidRegular";
	src: url("fonts/CorpidC1-Regular.eot");
	src: url("fonts/CorpidC1-Regular.eot?#iefix") format("embedded-opentype"),
	url("fonts/CorpidC1-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "CorpidRegularItalic";
	src: url("fonts/CorpidC1-RegularItalic.eot");
	src: url("fonts/CorpidC1-RegularItalic.eot?#iefix") format("embedded-opentype"),
	url("fonts/CorpidC1-RegularItalic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "CorpidBold";
	src: url("fonts/CorpidC1-Bold.eot");
	src: url("fonts/CorpidC1-Bold.eot?#iefix") format("embedded-opentype"),
	url("fonts/CorpidC1-Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "CorpidBlack";
	src: url("fonts/CorpidC1_Black.eot");
	src: url("fonts/CorpidC1_Black.eot?#iefix") format("embedded-opentype"),
	url("fonts/CorpidC1_Black.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

