.main-header .header {
	padding: 10px 0;
}

.main-header .header nav {
	padding: 30px 0;
}


.main-navigation a {
	font-family: 'CorpidBold', helvetica, arial, sans-serif;
	font-size: 15px;
	text-transform: uppercase!important;
}



.dh-slidetitle {
	font-family: 'CorpidBlack', helvetica, arial, sans-serif;
	font-size: 40px;
	color: $white;
	padding: 10px 20px 15px 20px;
	background: $violet;
}

.dh-slidetext {
	color: $white;
	padding: 10px 20px 15px 20px;
	line-height: 140%;
}