@import 'css/mixins';

/*---------------------------------------------------------------------------------*/
/*	Type
/*---------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5 {font-weight: bold;margin-bottom: 10px;}

h1 {font-size: 2em; line-height: 1.5em;}
h2 {font-size: 1.8em;line-height: 1.5em;}
h3 {font-size: 1.5em;line-height: 1.7em;}
h4 {font-size: 1.25em;line-height: 1.2em;}
h5 {font-size: 1.125em;line-height: 1.2em;}

p {font-size: 1.1em!important; line-height: 1.4em!important; margin-bottom: 1.6em;}

code {background: transparent;}

/*---------------------------------------------------------------------------------*/
/*	Navigation
/*---------------------------------------------------------------------------------*/
.main-header {background: $violet;}
.main-header .header {padding: 10px 0;} //fixing logo height 
.main-header .header nav {padding: 25px 0;}
.main-navigation a {font-family: 'CorpidBold', helvetica, arial, sans-serif; font-size: 1.2em; text-transform: uppercase!important;}

/*---------------------------------------------------------------------------------*/
/*	Mobile Menu
/*---------------------------------------------------------------------------------*/
.ss-mobile-menu > ul > li a {
	color: $white!important;
	font-size: 1.3em;
}

.ss-mobile-menu-button {
	&:hover {color: $white!important;}
}

/*---------------------------------------------------------------------------------*/
/*	Slider styles
/*---------------------------------------------------------------------------------*/
.dh-slidetitle {
	font-family: 'CorpidBlack', helvetica, arial, sans-serif;
	font-size: 40px;
	color: $white;
	padding: 10px 20px 15px 20px;
	background: $violet;
}
.dh-slidetext {color: $white; padding: 10px 20px 15px 20px; line-height: 140%;}

/*---------------------------------------------------------------------------------*/
/*	Home Blog
/*---------------------------------------------------------------------------------*/
.single-post .section-header {display: none;} //hiding header and breadcrumbs from single post

.home .section-content-container, .page-content-container {background: $almost-white;} //white box effect background

.home .blog-item-content {
	background: $white; //white box effect
	border-bottom: 3px solid lighten($gray, 10%);
	.by {margin-bottom: 20px; display: block; a {@include link-behaviour($violet, $violet-light);}} //by author
}

.blog-item-content {
	color: $black-lighter; 
}

.blog-container.grid .blog-item-content > h3, .blog-container.masonry .blog-item-content > h3 {
	font-size: 1.8em; //overriding styles main title with specific target
	font-family: "CorpidLight", helvetica;
	line-height: 1.2em;
	font-weight: normal;
	margin-bottom: 5px;
	a {
		@include link-behaviour($violet, $violet-light); //overriding main title link
		&:hover {text-decoration: none;}			
	}
}

.blog-item {
	img { @include transop; &:hover {opacity: .8;} } //creting opacity effect on images

	.blog-item-content .blog-item-meta {
		border-top: 1px solid $gray-lighter; //meta styles (categories and date)
		padding-top: 15px;
		font-size: 1em;
		span {
			color: $gray-light;
			font-weight: normal; 
			font-size: 85%; 
			font-family: "CorpidRegularItalic", helvetica;
			a { font-family: "CorpidBold", helvetica;  @include link-behaviour($violet, $violet-light); }
		}
		.cat {
			display: inline-block; //categories violet box
			li {display: inline-block;}
			a {
				background: $violet;
				color: $white;
				padding: 0.4em;
				margin-right: 5px;
				@include trans;
				&:hover {color: $almost-white; background: $violet-light; border-color: transparent transparent transparent $violet-light;}
			}
		}
		.meta-date {float: right;} //floating date
	}
}

/*---------------------------------------------------------------------------------*/
/*	Single Blog
/*---------------------------------------------------------------------------------*/
.section-content-container, .page-content-container {padding: 90px 0; border-bottom: 1px solid #CCC;} //overriding top margin
.theme-breadcrumbs {display: none;} //breadcrumbs raus
.entry-nav {display: none;} //post nav raus
code {white-space: pre-wrap!important;} //code lines don't have to break the responsive
.nivan-button {color: $white!important;}
.blog-container .blog-item .blog-item-content .more-link {@include link-behaviour($blau, $blau-light);} //more button

.blog-container.blog-single .blog-item > h2 { font-size: 2.4em; line-height: 100%; font-family: "CorpidLight" } //title styles specific target
.blog-single .blog-item-content {
	h1, h2, h3, h4, h5 {color: $black-light; font-family: "CorpidLight", helvetica; line-height: 120%;}
	p, div {color: $black-lighter;}
	.blog-item-content {
		a {@include link-behaviour($blau, $blau-light); &:hover{text-decoration: underline!important;}} //forcing links to look like a link
	}
}

.blog-single {
	.blog-item {border-bottom: 1px solid $gray-lighter;}
	.blog-item-meta {
		color: $black-lighter;
		padding: 10px 0;
		span {
			font-weight: normal!important;  //override wrong font
			a {@include link-behaviour($violet, $violet-light);}
		}
		.meta-space {
			margin-bottom: 20px;
			img {margin-right: 10px; border-radius: 180px;}
			a, span {line-height: 50px;}
		}
		.cat {
			text-align: right;
			display: inline-block; //categories violet box
			li {display: inline-block;}
			a {
				background: $violet;
				color: $white;
				padding: 0.4em;
				margin-right: 5px;
				@include trans;
				&:hover {color: $almost-white; background: $violet-light; border-color: transparent transparent transparent $violet-light;}
			}
		}
	}
}

.comments-list {
	margin-bottom: 50px;
	.avatar-border { img {border-radius: 180px;} }
	.comment-body p {font-size: 1em;}
}

.comment-respond {
	.logged-in-as, .comment-reply-title {margin: 0!important;}

	.comment-form #comment-text textarea {
		font-weight: normal;
		outline: 0;
		color: $black-light;
		&:focus {
			border: 1px solid $gray-light;
		}
	}
	.form-submit {
		input {
			color: $white!important;
			@include trans;
			&:hover {
				background: $violet-light!important;
				color: $almost-white!important;
			}
		}
	}
}
/*---------------------------------------------------------------------------------*/
/*	Archive
/*---------------------------------------------------------------------------------*/
.archive {
	.section-content-container {background: $almost-white!important;} //white box again
}

.author .section-header {
	.section-header-inner {
		margin-bottom: 30px;
	}
	span {
		img {border-radius: 180px; margin-right: 20px;}
	}
}

.section-header {
	.author-descritpion {
		color: $black-lighter;
		line-height: 120%;
		text-align: center;
	}
}

.blog-container.blog-normal .blog-item > h2 {
	font-size: 1.8em; //overriding styles main title with specific target
	font-family: "CorpidLight", helvetica;
	line-height: 1.2em;
	font-weight: normal;
	margin-bottom: 5px;
	a {
		@include link-behaviour($violet, $violet-light); //overriding main title link
		&:hover {text-decoration: none;}			
	}
}

.blog-container.blog-normal .blog-item .blog-item-content {
	padding:0 0 0px;
}


.archive {
	article {
	background: $white; //white box effect
	padding: 20px!important;
	border-bottom: 3px solid lighten($gray, 10%)!important;
	.by {color: $black-lighter; margin-bottom: 20px; display: block; a {@include link-behaviour($violet, $violet-light);}} //by author

	h3 {
		font-size: 1.8em; //overriding styles main title with specific target
		font-family: "CorpidLight", helvetica;
		line-height: 1.2em;
		font-weight: normal;
		margin-bottom: 5px;
		a {
			@include link-behaviour($violet, $violet-light); //overriding main title link
			&:hover {text-decoration: none;}			
		}

	}
	.blog-item-desc {margin: 0!important;}
	.blog-item-meta {font-size: 100%!important;}
	}
}

.blog-container.blog-single .blog-item .blog-item-meta {font-size: 100%!important;}
.blog-container.blog-normal .blog-item .blog-item-meta a {display: inline!important;}





/*---------------------------------------------------------------------------------*/
/*	Footer
/*---------------------------------------------------------------------------------*/
.main-footer {
	background: $violet;
	.widget {
		a {
			color: $almost-white!important;
			@include transop;
			&:hover {opacity: 0.7;}
		}
		h5 {
			color: $white;
			margin-bottom: 2em;
		}
		.contact-details {
			li {
				margin-bottom: 20px;
				a {
					line-height: 120%;
					span {
						font-size: 20px; 
						color: $almost-white; 
						float: left; 
						padding-right: 10px; 
						vertical-align: middle;
					}
				}
			}
		}

		.social-nets {
			li {display: inline-block; margin-right: 10px;}
			span {
				font-size: 30px;
				color: $almost-white;
			}
		}
	}
	.copy {
		color: $gray-light;
		opacity: .8;
		ul, li {margin: 0; padding: 0;}
		li {display: inline-block; margin-right: 20px;}
		a {
			color: $gray-light;
			&:hover {color: $gray-lighter;}
		}
	}
}

/*---------------------------------------------------------------------------------*/
/*	Aside
/*---------------------------------------------------------------------------------*/
aside {
	.widget_nav_menu {
		background: $almost-white;
		padding: 20px;
		h3 {margin-bottom: 20px;}
		li a {@include link-behaviour($blau, $blau-light); display: block; margin-bottom: 10px;}
	}
}


/*---------------------------------------------------------------------------------*/
/*	Media Qs
/*---------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
body {font-size: 90%;}
.section-content-container, .page-content-container {padding: 30px 0; } //overriding top margin

}
